:root {
    --background-clr: #1B1D36;
    --on-background-color: #E1E7EC;
    --secondary-clr: #FCA6D1;
    --on-primary-clr: #111;
    --primary-clr: #99D6EA;
    --on-secondary-clr: #111;
}

.App {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-clr);
}

.inpt {
    background-color: transparent;
    border: none;
    border-bottom: 2px var(--primary-clr) solid;
    color: var(--primary-clr);
}

textarea.inpt {
    resize: none;
    word-wrap: break-word;
    overflow-y: hidden;
}

.inpt:hover,
.inpt:focus {
    border-color: var(--on-background-color);
    color: var(--on-background-color);
    outline: none;
}

.btn {
    background-color: var(--background-clr);
    color: var(--primary-clr);
    font-weight: bolder;
    padding: .3em .5em;
    border: 2px solid var(--primary-clr);
    border-radius: .4em;
    cursor: pointer;
    transition:
        background-color .2s ease,
        color .2s ease;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background-color: var(--primary-clr);
    color: var(--on-primary-clr);
    outline: none;
}

/* Body */

.main-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: scroll;
    padding-top: 1rem;
}

/* Header */

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-clr);
    color: var(--on-secondary-clr);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    height: 2em;
    padding-left: .5rem;
    padding-right: .5rem;
}

.main-header .goback {
    font-size: 1.4rem;
    font-weight: bolder;
    background-color: transparent;
    color: var(--on-secondary-clr);
    border: none;
    cursor: pointer;
    width: 2rem;
    transition: color .2s ease;
}

.main-header .goback:hover,
.main-header .goback:focus {
    color: var(--primary-clr);
}

.main-header .page-name {
    flex: 1 1 auto;
    text-align: center;
}

.main-header .spacer {
    width: 2rem;
    background-color: red;
}

/* Footer */

.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-footer > * {
    flex: 1;
    text-align: center;
}

.footer-button {
    background-color: transparent;
    color: var(--primary-clr);
    border: none;
    border-top: 5px solid transparent;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: .2em;
    cursor: pointer;

    transition:
        color .2s ease,
        border .2s ease;
}

.footer-button.active,
.footer-button:hover,
.footer-button:active,
.footer-button:focus {
    border-top: 5px solid var(--primary-clr);
}

.footer-button:hover {
    color: var(--on-background-color);
    border-color: var(--on-background-color);
}

/* Word List Page */

.word-list-body {
    padding: 1rem;
}

.search {
    padding-bottom: .2em;
    margin-bottom: 1.5rem;
    font-size: .8rem;
    transition: font-size .2s ease;
}

.search:focus {
    font-size: 1.3rem;
    outline: none;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}

.add-form > input {
    font-size: 1.2rem;
}

.add.btn {
    font-size: 1.5rem;
    padding: 0;
}

.words {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.words-item {
    display: flex;
    flex-direction: row;
    gap: 1ch;
    max-width: 90vw;
    align-items: center;
}

.word-text {
    font-size: 1.1rem;
    color: var(--primary-clr);
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;   
    cursor: pointer;
    padding: .5ch 1ch;
    border-radius: .3em;
    transition:
        background-color .2s ease,
        color .2s ease;
}

.word-text:hover,
.word-text:focus {
    background-color: var(--primary-clr);
    color: var(--on-primary-clr);
    outline: none;
}

.words-item > .btn {
    min-width: 2em;
    max-width: 2em;
    min-height: 2em;
    max-height: 2em;
}

/* Word Edit */

.word-edit-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.word-edit-block {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.word-edit-block > label {
    color: var(--primary-clr);
    font-size: 1.2rem;
}

.word-edit-block > .definition-edit {
    font-size: 1.2rem;
}

.word-edit-block > .name-edit {
    transition: font-size .2s ease;
}

.word-edit-block > .name-edit:focus {
    font-size: 1.4rem;
}

/* Playing Body */

.play-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1rem;
}

.restart-mode-container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: .5rem;
}

.restart-mode-container > .btn {
    font-size: 1.2rem;
    border: none;
}

.guess-block {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: var(--primary-clr);
    text-align: center;
    cursor: pointer;
    transition:
        transform .1s ease,
        color .1s ease;
}

.guess-block:active {
    transform: scale(.9);
    color: white;
}

.answer-block {
    --correct-clr: hsl(160, 70%, 65%);
    --incorrect-clr: hsl(0, 70%, 65%);

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
}

.answer-block .answers {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
}

.answer-block .answers > .btn {
    flex: 1;
    font-size: 1.3rem;
    height: clamp(125px, 20vw, 200px);
    transition:
        transform .1s ease,
        background-color .1s ease,
        color .1s ease;
}

.answers > .btn.correct {
    --corresponding-clr: var(--correct-clr);
}
.answers > .btn.incorrect {
    --corresponding-clr: var(--incorrect-clr);
}

.answers > .btn {
    color: var(--corresponding-clr);
    border: 5px solid var(--corresponding-clr);
}

.answers > .btn:hover,
.answers > .btn:focus,
.answers > .btn:active {
    background-color: var(--corresponding-clr);
    color: var(--background-clr);
}

.answers > .btn:active {
    transform: scale(.9);
}

.answer-block .guess-result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1 1 auto;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: var(--primary-clr);
    text-align: center;
}

.play-body .warning {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--secondary-clr);
    text-align: center;
}